.navbar{
    background-color: #65B741;
}

body{
    background-color: #FBF6EE;
}

.dropdown-menu{
    background-color: #FBF6EE;
}

.inside-Main{
    background-color: #C1F2B0;
}

.btn-primary{
    background-color: #FFB534;
}

#footer{
    background-color: #65B741;
}